<article class="col-md-4 col-xs-12 post__in__list">
    <div class="{{ classes }}">


        <div class="row">
            <div class="col-sm-4 col-md-12 ">
                <div class="post__header ">

                    {% if categories %}
                    <div class="post__cats c__b t__w">
                        {% for cat in categories %}
                        <a class="h4" href="{{ cat.link }}">{{ cat.name }}</a>

                        {% endfor %}
                    </div>
                    {% endif %}


                    <a href="{{ link }}">
                        {{ img | raw }}
                    </a>
                </div>
            </div>
            <div class="col-sm-8 col-md-12">


                {% include 'title-link.twig' with { 'link': link, 'title' : title } %}

                <p>{{ content | raw }}</p>


            </div>
        </div>


        {% if link or time %}
        <div class="row">
            <div class="col-sm-8 col-md-8">
                <time class="h4"> {{ time }}</time>
            </div>
            <div class="col-sm-4 col-md-4 text-right">
                {% if link %} <a class="h4" href="{{ link }}">→</a> {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</article>